body {
    background-color: white;
    margin: 50px;
    border: 1px;

}

header {
    color: red;
    text-align: center;
}

div {
    margin: auto;
    padding: 8px;
}


h4 {
    text-transform: uppercase;
    color: #4CAF50;
}

a {
    text-decoration: none;
    color: #008CBA;
}